
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>food images</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>
</head>
<body>

<h1>Projects</h1>
<div class="row">
{% for i in p %}
       <div class="col-body-4">
           <div class="card-body-2">
				    <img src="{{ i.image.url }}" class="img-responsive" style="width: 15%; float: left; margin-right: 5px;" />
				    <div class="card-body">
			        <h2 class="card-title">{{ i.title }}</h2>
				    <h3 class="card-text">{{ i.description }}</h3>
				    <p class="card-text">{{i.technology}}</p>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

</body>
</html>

